# Configuración general de entorno ENV (production, development, test)
ENV=development
DEBUG=True 

# Configuración de la base de datos
DATABASE_URL=postgresql+asyncpg://postgres:1234@localhost:5432/calendar

# Configuración de Auth0
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
JWT_ALGORITHM=

# Configuración de CORS
ALLOWED_ORIGINS=http://localhost:8000,http://example.com
ALLOWED_METHODS=GET,POST,PUT,DELETE
ALLOWED_HEADERS=Content-Type,Authorization
ALLOW_CREDENTIALS=True